@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

#bloco{
   display: flex;
   justify-content: center;
   margin-top: 5rem;
   align-items: center;
}

.blocoimagem img{
    width: 150px;
    height: 150px;
    margin-right: 2rem;
    border-radius: 5px;
    border: 2px solid #000;
}

.blocoimagem p{
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.lado h2{
    font-size: 30px;
}

.barra{
    width: 200px;
    background: #ff7f81;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 5px 2px;
    margin-right: 2rem;
}

.blocoBotao{
    display: flex;
    flex-direction: column;
}

.botao{
    padding: 10px;
    background-color: #cf872e;
    display: flex;
    color: #fff;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 300ms;
}

.botao:hover{
    background-color: #e8a249;
}

.background{
    background-color: #a2d3c7;
}

.entrar{
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
}

.menu a{
    background-color: #007e80;
    padding: 15px;
    margin-bottom: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    transition: background-color 300ms;
}

.menu a:hover{
    background-color: #00b9bd;
}

.sair a{
    text-decoration: none;
    background-color: #007e80;
    padding: 15px;
    margin-bottom: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    transition: background-color 300ms;
    margin-left: 3rem;
}

.sair a:hover {
    background-color: #00b9bd;
}

#message{
    text-align: center;
    color: black;
    margin-top: 2rem;
}